<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../public/css/weui.css">
</head>
<body>
<div class="page">
    <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">
            <p>发布的职位</p>
            <p>1221</p>
        </a>
        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">
            <p>待处理简历</p>
            <p>121</p>
        </a>
    </div>

    <div class="page__bd">
        <div class="weui-form-preview">
            <section>
                <p>gangwei</p>
                <p>2016-333</p>
            </section>
            <section>
                <span>beijing   本科</span>
            </section>
        </div>
        <br>
        <div class="weui-form-preview">
            <section>
                <p>gangwei</p>
                <p>2016-333</p>
            </section>
            <section>
                <span>beijing   本科</span>
            </section>
        </div>
    </div>

</div>
<div id="tpl_tabbar">
    <div class="page">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab">
                <div class="weui-tab__panel">

                </div>
                <div class="weui-tabbar">
                    <a href="/wechat/views/admin.html" class="weui-tabbar__item">
                        <p class="weui-tabbar__label">职位管理</p>
                    </a>
                    <a href="/wechat/views/info.html" class="weui-tabbar__item">
                        <p class="weui-tabbar__label">职位发布</p>
                    </a>
                    <a href="/wechat/views/home.html" class="weui-tabbar__item">
                        <p class="weui-tabbar__label">个人中心</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--<script src="../public/libs/phone.js"></script>-->
<!--<script src="../public/libs/jquery-1.11.3.min.js"></script>-->
<script src="../public/libs/zepoto.js"></script>
<!--<script src="../public/libs/weixin-1.0.0.js"></script>-->
<!--<script src="../public/libs/weui.js"></script>-->
<script>

</script>
</html>