<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../public/css/weui.css">
    <style>
        .keep{  position: fixed;
            display: inline-block;
            right: 10px;
            top: 10px;
            color: hsla(0,0%,100%,.6);
        }
    </style>
</head>
<body>
<div class="button-sp-area">
    <a href="#"  class="weui-btn weui-btn_disabled weui-btn_primary">我的信息</a>
    <span class="keep">保存</span>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label  class="weui-label">职位</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">公司全称</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">公司简称</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">工作邮箱</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
</div>


</body>
<!--<script src="../public/libs/phone.js"></script>-->
<!--<script src="../public/libs/jquery-1.11.3.min.js"></script>-->
<script src="../public/libs/zepoto.js"></script>
<!--<script src="../public/libs/weixin-1.0.0.js"></script>-->
<!--<script src="../public/libs/weui.js"></script>-->
<script>
    //    $('.weui-btn_plain-default').on('click',function () {
    //        console.log(22);
    //
    //    })
</script>
</html>