<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../public/css/weui.css">

</head>
<body>
<div class="button-sp-area">
    <a href="#"  class="weui-btn weui-btn_disabled weui-btn_primary">我的信息</a>
</div>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">职位信息</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label  class="weui-label">职位名称</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">薪酬范围</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">工作地点</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">工作年限</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">学历要求</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">招聘邮箱</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">职位描述</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填" style="height: 40px"/ >
        </div>
    </div>
    <p>简历接收方式</p>
    <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-check__label" for="x11">
            <div class="weui-cell__bd">
                <p>仅平台接受</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="radio1" id="x11"/>
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="x12">
            <div class="weui-cell__bd">
                <p>仅招聘邮箱接受</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" name="radio1" class="weui-check" id="x12" checked="checked"/>
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="x13">
            <div class="weui-cell__bd">
                <p>平台+招聘邮箱接受</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" name="radio1" class="weui-check" id="x13" checked="checked"/>
                <span class="weui-icon-checked"></span>
            </div>
        </label>
    </div>

</div>
<div class="button-sp-area">
    <a href="#"  class="weui-btn weui-btn_plain-default">发布</a>
</div>

</body>
<!--<script src="../public/libs/phone.js"></script>-->
<!--<script src="../public/libs/jquery-1.11.3.min.js"></script>-->
<script src="../public/libs/zepoto.js"></script>
<!--<script src="../public/libs/weixin-1.0.0.js"></script>-->
<!--<script src="../public/libs/weui.js"></script>-->
<script>
//    $('.weui-btn_plain-default').on('click',function () {
//        console.log(22);
//
//    })
</script>
</html>