<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简历</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../public/css/weui.css">

</head>
<body>
<div class="button-sp-area">
    <a href="#"  class="weui-btn weui-btn_disabled weui-btn_primary">认证材料</a>
</div>
<div id="oricl"></div>
<div class="weui-cells__title">表单</div>

<div class="button-sp-area">
    <a href="#"  class="weui-btn weui-btn_plain-default">发布</a>
</div>

</body>
<script src="../config/config.js"></script>
<script src="../public/libs/jquery-1.11.3.min.js"></script>
<script src="../public/libs/zepoto.js"></script>
<script src="../public/libs/weixin-1.0.0.js"></script>
<script src="../public/libs/weui.js"></script>
<script src="../public/js/Authentication.js"></script>

</html>