<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../../public/css/weui.css?v=1">
    <style>
        #tpl_tabbar{
            position: fixed;
            bottom: 0;
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-label">chanpin</label>
    </div>
    <div class="weui-cell__bd">
        <label class="weui-label">北京</label>
    </div>
</div>
<div id="tpl_tabbar">
    <div class="page">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab">
                <div class="weui-tab__panel">
                </div>
                <div class="weui-tabbar">
                    <a href="/wechat/views/wanted/.html" class="weui-tabbar__item">
                        <p class="weui-tabbar__label">职位管理</p>
                        <br>
                    </a>
                    <a href="/wechat/views/wanted/home.html" class="weui-tabbar__item">
                        <p class="weui-tabbar__label">个人中心</p>
                        <br>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>