<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../../public/css/weui.css?v=1">
</head>
<body>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">chanpin</label>
        </div>
        <div class="weui-cell__bd">
            <label class="weui-label">北京</label>
        </div>
    </div>
    <div class="weui-cell">
        <h4>职位描述</h4>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label  class="weui-label">岗位职责</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label  class="weui-label">岗位职责</label>
            <label  class="weui-label">岗位职责</label>
            <label  class="weui-label">岗位职责</label><label  class="weui-label">岗位职责</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label  class="weui-label">职位要求</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label  class="weui-label">岗位职责</label>
            <label  class="weui-label">岗位职责</label>
            <label  class="weui-label">岗位职责</label><label  class="weui-label">岗位职责</label>
        </div>
    </div>

    <div class="weui-cell">
        <h4>公司简介</h4>
    </div>
    <div class="weui-cell">
        <h5>巴里巴巴</h5>
        <p>

        </p>
    </div>
</div>
<!--<div class="button-sp-area">
    <a href="#"  class="weui-btn weui-btn_plain-default">登录</a>
</div>-->

</body>
<script src="../../public/libs/jquery-1.11.3.min.js"></script>
<script src="../../config/config.js"></script>
<script src="../../public/libs/zepoto.js"></script>
<script src="../../public/libs/md5.js"></script>
<script src="../../public/libs/iosOverlay.js"></script>
<script src="../../public/libs/iosOverlay.css"></script>
<script src="../../public/libs/common.js"></script>
<script src="../../public/js/wantedlogin.js?v=1"></script>
</html>